<template>
    <div class="wrap">
        {{msg}}
    </div>
</template>
<script>
    export default{
        data:function(){
            return{
                msg:'this is myCenter'
            }
        }
    }
</script>
<style>

</style>