<template>
  <div id="app">
    <div class="nav">
      <div class="pro-name">CRM</div>
      <ul class="menu-list">
      <router-link to='/index'><li class='menu-item' >首页</li></router-link>
      <router-link to='/client'><li class='menu-item'>客户管理</li></router-link>
      <router-link to='/opportunity'><li class='menu-item'>商机管理</li></router-link>
      <router-link to='/ventured'><li class='menu-item'>合资公司</li></router-link>
      <router-link to='/followUp'><li class='menu-item'>跟进记录</li></router-link>
      <router-link to='/tender'><li class='menu-item'>招标管理</li></router-link>
      <router-link to='/teamwork'><li class='menu-item'>战略合作</li></router-link>
      <router-link to='/Administration'><li class='menu-item'>系统管理</li></router-link>
      <router-link to='/myCenter'><li class='menu-item'>个人中心</li></router-link>
    </ul>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  
}
</script>

<style>
@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
dl,
dd,
textarea,
button {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
a,
textarea,
input,
button,
span,
em,
strong,
img,
div {
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent; }

input,
textarea,
button {
  outline: 0 none; }

textarea {
  resize: none; }

img {
  border: none; }

a {
  text-decoration: none;
  color: #333;
}
* {
    margin: 0px;
    padding: 0px;
    text-decoration:none;
    box-sizing:border-box;
    font-size:14px;
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  }
.clearfix:before, .clearfix:after {
  content: "";
  font: 0/0;
  display: table;
  clear: both;
  zoom: 1; }

#app {
  width:1600px;
  height:auto;
}
.nav{
  width: 100px;
  height: 100%;
  float: left;
  background: rgba(204, 204, 204, 1);
}
.pro-name{
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  font-weight: 700;
  background: rgba(51, 51, 51, 1);
  color: #fff;
  text-align: center;
}
.menu-list{
  width: 100px;
  height: 900px;
}
.menu-item{
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
  font-size: 14px;
  background: rgba(204, 204, 204, 1);
  color: #333;
}
.menu-item:hover{
  background: rgba(153, 153, 153, 1);
}
</style>
